<h1>Dealerships</h1>
<ul>
    <% @dealerships.each() do |dealership| %>

      <li><a href="/dealerships/<%= dealership.id() %>"><%= dealership.name() %></a></li>
      
    <% end %>
</ul>
<br>

<a href="/"  class="btn btn-primary btn-sm">Go back home!</a>
<a href="/dealerships/new" class="btn btn-primary btn-sm">Add New Dealership</a>
