<div class="jumbotron">
	<h1>Welcome to Dealership Central</h1>
</div>

		<!-- goes to all Dealerships -->
<a href="/dealerships" class="btn btn-success btn-sm">See Dealership List</a>

		<!-- goes to Dealership form -->
<a href="/dealerships/new" class="btn btn-primary btn-sm">Add New Dealership</a>

<br><br>
<p><i>Note: Added to be able to add vehicles (links still broken though)</i></p>
		<!-- goes to all Vehicles page  -->
<a href="/vehicles" class="btn btn-info btn-sm">View all our Vehicles</a>

		<!-- goes to Add a Vehicle page -->
<a href="/vehicles/new" class="btn btn-info btn-sm">Add a vehicle</a>
