<div class="jumbotron">
	<h1>Welcome to Bob's Car-O-Rama!</h1>
</div>

<a href="/vehicles" class="btn btn-primary btn-sm">View all our Vehicles</a>

<a href="/vehicles/new" class="btn btn-primary btn-sm">Add a vehicle</a>
