<div class="jumbotron">
	<h1>Welcome to Bob's Car-O-Rama!</h1>
</div>

<a href="/vehicles" class="btn btn-warning btn-sm">View all our Vehicles</a>

<a href="/xxxx" class="btn btn-info btn-sm">Add a vehicle</a>
