<div class="jumbotron">
  <h3>Success!</h3>
</div>


<a href="/vehicles" class="btn btn-success btn-sm">See Vehicle List</a>
<a href="/vehicles/new" class="btn btn-success btn-sm">Add New Vehicle</a>
