<h1>Success! Your form has been submitted</h1>


<a href="/"  class="btn btn-primary btn-sm">Go back home!</a>
<a href="/dealerships" class="btn btn-primary btn-sm">Click here to view dealerships!</a>
<a href="/vehicles" class="btn btn-danger btn-sm">See Vehicle List</a>
<a href="/vehicles/new" class="btn btn-info btn-sm">Add New Vehicle</a>
